* { margin:0; padding:0;}

body { 
  padding: 0; 
  background: #fff url('../img/bg.jpg') repeat-x; 
  font-family: "Verdana",sans-serif; 
  color: #303030; 
  text-align: center; 
}

   #layout,#footer,.footer-text { 
     width:986px; 
     margin:0 auto; 
     text-align:left; 
   }



  #header { position:relative; background: #303030; margin-bottom: 20px; }

      .pre-link{position:relative;top:0;left:803px;margin-bottom: 5px;font-size:8.25pt;width:180px;}
      .pre-link a{text-decoration:none;color: #0098D0 !important;}
      
      .top-menu { position:relative; left:8px;box-shadow:3px 3px 3px #DDD; border-radius: 10px;} /* background: #fff url('images/top-menu.png') no-repeat; */
      .top-menu { width:967px;height:54px;margin: 0 auto; color: #000; margin-bottom: 20px;}
      
      /*.top-menu .logo { position:relative; top:10px; left:30px; width:90px; height:29px; background: url('images/logo.png') no-repeat;float:left; }*/
      
      .top-menu a { color: #000; }
      .top-menu a:hover { text-decoration: none; }

      

        .top-menu ul{
                position:relative; 
                left:0;
                list-style:none;
                width:100%;
                height:54px;
        }
        .top-menu ul li{
                float:left;
        }
        
        .top-menu ul li a{
                display:block;
                height:54px;
                /* padding:0 8px; */
                float:left;
                /*font:70%/40px Helvetica,"microsoft sans serif",arial,sans-serif;*/
                color:#fff;
                text-decoration:none;
                text-align:center;
                vertical-align: middle;
        }

        /*
        .top-menu ul li.first a{width:147px;height:54px;background:url(images/menu-main-button-nonactive.png) no-repeat;}
        .top-menu ul li.first a:link{width:147px;height:54px;background:url(images/menu-main-button-nonactive.png) no-repeat;}
        .top-menu ul li.first a:hover{width:147px;height:54px;background:url(images/menu-main-button-active.png) no-repeat;}
        */
        
        .top-menu ul li#i0 a {width:147px;height:54px;background:url('images/menu-item-main.png') no-repeat;}
        .top-menu ul li#i0 a:link {width:147px;height:54px;background:url('images/menu-item-main.png') no-repeat;}
        .top-menu ul li#i0 a:hover {width:147px;height:54px;background:url('images/menu-item-main-hover.png') no-repeat;}
        
        .top-menu ul li#i1 a {width:140px;height:54px;background:url('images/menu-item-2.png') no-repeat;}
        .top-menu ul li#i1 a:link {width:140px;height:54px;background:url('images/menu-item-2.png') no-repeat;}
        .top-menu ul li#i1 a:hover {width:140px;height:54px;background:url('images/menu-item-2-hover.png') no-repeat;}
        
        .top-menu ul li#i2 a {width:123px;height:54px;background:url('images/menu-item-3.png') no-repeat;}
        .top-menu ul li#i2 a:link {width:123px;height:54px;background:url('images/menu-item-3.png') no-repeat;}
        .top-menu ul li#i2 a:hover {width:123px;height:54px;background:url('images/menu-item-3-hover.png') no-repeat;}
        
        .top-menu ul li#i3 div {width:163px;height:54px;background:url('images/menu-item-4-nonactive.png') no-repeat;}
        /*.top-menu ul li#i3 a:link {width:163px;height:54px;background:url('images/menu-item-4-nonactive.png') no-repeat;}
        .top-menu ul li#i3 a:hover {width:163px;height:54px;background:url('images/menu-item-4-nonactive.png') no-repeat;}*/
        
        .top-menu ul li#i4 div{width:163px;height:54px;background:url('images/menu-item-6-nonactive.png') no-repeat;}
        /*.top-menu ul li#i4 a:link {width:163px;height:54px;background:url('images/menu-item-6-nonactive.png') no-repeat;}
        .top-menu ul li#i4 a:hover {width:163px;height:54px;background:url('images/menu-item-6-nonactive.png') no-repeat;}*/
        
        .top-menu ul li#i5 div {width:164px;height:54px;background:url('images/menu-item-5-nonactive.png') no-repeat;}
        /*.top-menu ul li#i5 a:link {width:164px;height:54px;background:url('images/menu-item-5-nonactive.png') no-repeat;}
        .top-menu ul li#i5 a:hover {width:164px;height:54px;background:url('images/menu-item-5-nonactive.png') no-repeat;}*/
        
        
        .top-menu ul li#i6 a {width:67px;height:54px;background:url('images/qwertyu.png') no-repeat;}
        .top-menu ul li#i6 a:link {width:67px;height:54px;background:url('images/qwertyu.png') no-repeat;}
        .top-menu ul li#i6 a:hover {width:67px;height:54px;background:url('images/qwerty.png') no-repeat;}
        
        
        
        
        
        .top-menu ul li.leaf a:hover{
                background:url(images/button-hover2.png) top left repeat-x;
        }

        
        .top-menu ul li.last a{
                width:67px;
                height:54px;
                background:url(images/menu-close-item-nonactive.png) no-repeat;
        }
        .top-menu ul li.last a:link{
                width:67px;
                height:54px;
                background:url(images/menu-close-item-nonactive.png) no-repeat;
        }

        .top-menu ul li.last a:hover{
                width:67px;
                height:54px;
                background:url(images/menu-close-item-active.png) no-repeat;
        }
        
      
     
  

/*-----------------------------MY CSS----------------------------------------*/


.second-menu{
   margin: 0px 0px 23px 15px;
   padding-bottom: 23px;
}
.img-title{
    margin: 0px 0px 0px 15px;
}
/*.title{
    font-size: 2em;
   
    padding-left: 10px;
}

.title #text{
    position:relative;
    top:-30px;
}*/

        

.title img#button-go-communicator{
    position:relative;
    top:0;
    left:534px;
}
.list-second{
   list-style:none;
   width:100%;
   height:100%;
}
.list-second li{
    font-size: 12pt;
    font-family: tahoma;
    float:left;
    border-right:1px solid #DDD;
    padding: 0px 24px;
    list-style:none;
 
}
.list-second li:last-child{
    border-right: 0;
}
.list-second li:first-child{
    padding: 0px 24px 0px 0px;
}
.list-second a{
    text-decoration: none;
    color: #666666;
}
.list-second a:hover{
    text-decoration: underline;
    color: #0098d0;
}
.last-news{
    width: 100%;
    font-size: 8pt;
    height: 100%;
    padding: 17px 0px 13px 6px;
    color: #707070;
}
.footer-topic{
    font-size: 12pt;
}

.footer-item {
    float: left;
    width: 310px;
    height: 134px;
    padding: 4px;
    background-image: url('images/page-footer-big.png');
    z-index: 10;
    box-shadow:3px 3px 3px #DDD;
    margin: 0px 14px 0px 0px;
    border:0px solid #bbbbbb;
    border-radius: 10px;
}
.footer-item:last-child{
    margin: 0;
}
.inside-item{
    background-image: url('images/page-footer-litle.png');
    z-index: 100;
    width: 310px;
    height: 123px;
    text-align: center;
    
    padding-top: 11px; 
}
    
    
    
    .footer-topic,.footer-content{
        display: block;
    }
    .footer-text{
        padding: 19px 0px;
        font-size: 9pt;
        margin-top: 21px;
        border-top: 1px solid #DDD;
        color: #707070;
        text-align: center;
    }
    .footer-content{
        color: #666666;
        font-size: 8pt;
        text-align: center;
    }
    .inside-item img{
        position: relative;
        top: 9px;
        padding: 0;
        margin: 0;
    }
    
    .last-news a
    {
        color: #0098d0 !important;
    }
  

         #container {
            width:982px;
            position:relative;
            z-index:0;
        }

        #example {
            width:974px;
            height:444px;
            border: 0px solid #DDD;
            border-radius: 10px;
            box-shadow:2px 2px 2px 2px #DDD;
            padding: 4px;
        }

        .slides_container {
            width:974px;
            overflow:hidden;
            position:relative;
            display:none;
        }
        .slide-image{
            width: 974px;
            height: 444px;
         }
        
        .pagination {
            margin: -30px auto 0;
            width:300px;
            z-index: 100;
            position: relative;
        }
        
        .pagination li {
            float:left;
            margin:0 10px;
            list-style:none;
        }
        .pagination li a {
            display:block;
            width:15px;
            height:0;
            padding-top:15px;
            background-image:url(img/slide-pips.png);
            background-position:0 -15px;
            float:left;
            overflow:hidden;
        }
        
        .pagination li a:hover {
            background-image:url(img/slide-pips.png);
            background-position:0 -30px;
        }
        
        
        .pagination li.current a {
            background-image:url(img/slide-pips.png);
            background-position:0 0px;
            position: relative;
        }