* { margin:0; padding:0; }
body, div, span, p, a, img, ul, ol, li, table, th, tr, td, form, fieldset, legend, dl, dt, dd, blockquote, applet, object { border:0; }
body { 
  padding: 0; 
  background: #fff url('../img/bg.jpg') repeat-x; 
  font: 0.8em/1.5 "arial",sans-serif; 
  color: #303030; 
  text-align: center; 
}

/* obecne odkazy --------------------------------------------------------------- */
a {color:#b41818;}
a:link {color:#b41818;}
a:hover {color:#b41818; text-decoration: none;}

/* nadpisy --------------------------------------------------------------------- */
h1, h2, h3, h4, h5, h6 { margin:15px 0 7px 0; }
h1 { font-size:200%; }
h2 { font-size:170%; font-weight: normal;}
h3 { font-size:105%; border-bottom: 1px solid #ddd;}
h4 { font-size:120%; }
h5 { font-size:100%; }


#layout { 
  width:985px; 
  margin:0 auto; 
  text-align:left; 
}


  	
      #header { position:relative; background: #303030; margin-bottom: 20px; }

      .top-menu { position:relative; left:8px; background: #fff url('images/top-menu.png') no-repeat; }
      .top-menu { width:100%;height:54px;margin: 0 auto; color: #000; margin-bottom: 20px;}
      
      /*.top-menu .logo { position:relative; top:10px; left:30px; width:90px; height:29px; background: url('images/logo.png') no-repeat;float:left; }*/
      
      .top-menu a { color: #000; }
      .top-menu a:hover { text-decoration: underline; }

      

        .top-menu ul{
                position:relative; 
                left:0;
                list-style:none;
                width:100%;
                height:54px;
        }
        .top-menu ul li{
                float:left;
                border-right:1px solid #333;
        }
        
        .top-menu ul li a{
                display:block;
                height:54px;
                padding:0 8px;
                float:left;
                /*font:70%/40px Helvetica,"microsoft sans serif",arial,sans-serif;*/
                color:#fff;
                text-decoration:none;
                text-align:center;
                vertical-align: middle;
        }

        .top-menu ul li#i0 {width:147px;}
        .top-menu ul li#i0 a span#s0 { width:147px; height:54px; background: url('images/menu-main-button-active.png') no-repeat;}
        .top-menu ul li#i1 {width:124px;}
        .top-menu ul li#i1 a span#s1 {position: relative;top: 5px;}
        .top-menu ul li#i2 {width:126px;}
        .top-menu ul li#i2 a span#s2 {position: relative;top: 5px;}
        .top-menu ul li#i3 {width:164px;}
        .top-menu ul li#i3 a span#s3 {position: relative;top: 5px;}
        .top-menu ul li#i4 {width:168px;}
        .top-menu ul li#i4 a span#s4 {position: relative;top: 5px;}
        .top-menu ul li#i5 {width:180px;}
        .top-menu ul li#i5 a span#s5 {position: relative;top: 5px;}
        
        
        .top-menu ul li#i6 {width:67px;border-right:0 !important;}
        .top-menu ul li#i6 a span#s6 {position: relative;top: 7px; width:67px; height:54px;}
        
        
        
        .top-menu ul li.first a{
                width:147px;
                height:54px;
                background:url(images/menu-main-button-nonactive.png) no-repeat;
        }
        .top-menu ul li.first a:link{
                width:147px;
                height:54px;
                background:url(images/menu-main-button-nonactive.png) no-repeat;
        }

        .top-menu ul li.first a:hover{
                width:147px;
                height:54px;
                background:url(images/menu-main-button-active.png) no-repeat;
        }
        
        
        .top-menu ul li.leaf a:hover{
                background:url(images/button-hover2.png) top left repeat-x;
        }

        .top-menu ul li.last a{
                width:67px;
                height:54px;
                background:url(images/menu-close-item-nonactive.png) no-repeat;
        }
        .top-menu ul li.last a:link{
                width:67px;
                height:54px;
                background:url(images/menu-close-item-nonactive.png) no-repeat;
        }

        .top-menu ul li.last a:hover{
                width:67px;
                height:54px;
                background:url(images/menu-close-item-active.png) no-repeat;
        }
        
      
      div.separate {width:2px; height:54px; background: url('../img/main.jpg') no-repeat;}
      
      .content {
      float: left; 
      padding: 12px 0 12px 10px;
      width:500px;
      z-index: 10;
      }
      
      #panel-right { float:right; width:230px; padding: 15px 10px 10px 10px; }
      #panel-right-inside {border-left: 1px solid #ca4747; padding: 0 0 0 16px;}
      #panel-right span { color: #e49695; }
      #panel-right p {margin: 0;}
      
      #main {
      padding: 0;
      }
      
      #footer-inside {
        width: 985px;
        margin: 10px auto;
        text-align: left;
        padding: 20px;
      }      
      
      /*#footer {
      background: #303030;
      color: #b1b1b1;
      }
      
      #footer a{
      color: #b1b1b1;
      }
      

      
      #footer-inside p {
      margin-top: 0;
      margin-bottom: 0;
      }
      
     */
    /*-----------------------------MY CSS----------------------------------------*/

        .list-second{
           position:relative; 
           left:-10px;
           list-style:none;
           width:100%;
           height:54px;
        }
        .title{
            font-size: 2em;
            /*padding: 10px 10px;*/
            padding-left: 10px;
        }
        
        .title #text{
            position:relative;
            top:-30px;
        }
        
        .title img#button-go-geo{
            position:relative;
            top:0;
            left:620px;
        }
        
        .title img#button-go-communicator{
            position:relative;
            top:0;
            left:534px;
        }
        
        .list-second li{
            float:left;
            border-right:1px solid #DDD;
            padding: 1px 20px;
            
        }
        .list-second li:last-child{
            border-right: 0;
        }
        .list-second a{
            text-decoration: none;
            color: #666666;
        }
        .list-second a:hover{
            text-decoration: underline;
            color: #0098d0;
        }
        .last-news{
            width: 100%;
            height: 100%;
        }
        .footer-topic{
            font-size: 1.5em;
        }
        .footer-content{
            font-size: .8em;
        }
        .footer-item {
            display: inline-block;
            width: 318px;
            height: 142px;
            background-image: url('images/page-footer-big.png');
            z-index: 10;
            box-shadow:3px 3px 3px #DDD;
            margin: 2px;
            border:1px solid #bbbbbb;
            border-radius: 10px;
            
        }
        
        .inside-item{
            background-image: url('images/page-footer-litle.png');
            z-index: 100;
            width: 310px;
            height: 134px;
            margin: .4em;
            border-radius: 10px;
        }
        
        .footer-item#bug{
            position:relative;
            top:11px;
        }
        
        .footer-topic,.footer-content{
            display: block;
        }
      /*--------------slides-----------------------------*/
         #container {
        width:994px;
        position:relative;
        z-index:0;
        }
        
        
#example {
            width:1003px;
            height:480px;
            border: 1px solid #DDD;
            border-radius: 10px;
            box-shadow:2px 2px 2px #DDD;
        }
        .footer-text{
            width: 1024px;
            left: 50%;
            margin-left: -512px;
            position: absolute;
            border-top: 1px solid #DDD;
            color: #707070;
        }
        .footer-content{
            color: #666666;
        }
        .last-news{
            width: 100%;
            height: 100%;
            color: #707070;
        }
        
        .last-news a
        {
            color: #0098d0 !important;
        }

        .slides_container {
            width:994px;
            overflow:hidden;
            position:relative;
            display:none;
            margin: 4px;
        }
        .slides_container a{
            width: 64px !important;
            height 64px !important;
            
        }
        .slide-image{
            width: 994px;
            height: 471px;
         }
        
        .pagination {
            margin:-20px auto 0;
            width:100px;
            z-index: 100;
            position: relative;
        }
        
        .pagination li {
            float:left;
            margin:0 1px;
            list-style:none;
        }
        
        .pagination li a {
            display:block;
            width:12px;
            height:0;
            padding-top:12px;
            background-image:url(img/pagination.png);
            background-position:0 0;
            float:left;
            overflow:hidden;
        }
        
        .pagination li.current a {
            background-position:0 -12px;
            position: relative;
        }
